.button {
  padding: 10px;
  margin: 10px;
  background-color: darkorange;
  width: 40px;
  border: none;
  border-radius: 24px;
}
.number {
  margin: 10px;
  padding: 10px;
}
.container {
  display: flex;
  padding: 10px;
  margin: auto;
  width: fit-content;
}
